<h1>Editing Admin Administrator</h1>

<%= render 'form', admin_administrator: @administrator %>

<%= link_to 'Show', [:admin, @instituion, @administrator] %> |
<%= link_to 'Back', admin_institution_administrators_path(@instituion) %>
