<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Search Results </h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li class="active">
        Search for <strong><%= params[:global_search] %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <% @results.each_with_index do |result, index| %>
      <%= render "shared/widgets/search/#{result.class.name.downcase}", result: result, index: index %>
    <% end %>
  </div>
</div>

