<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Term start for <%= Institution.current.name %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Terms", administrator_terms_path %>
      </li>
      <li class="active">
        <strong>New Term Form</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Start a new term <small> Please fill the details correctly</small></h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', term: 2term %>
        </div>
      </div>
    </div>
  </div>
</div>
