<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Manage Classes for Term <%= @term.name %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Terms", administrator_terms_path %>
      </li>
      <li class="active">
        <strong>Term Record</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
