<h1>Editing Administrator Section</h1>

<%= render 'form', administrator_section: @administrator_section %>

<%= link_to 'Show', @administrator_section %> |
<%= link_to 'Back', administrator_sections_path %>
