<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @administrator_section.name %>
</p>

<%= link_to 'Edit', edit_administrator_section_path(@administrator_section) %> |
<%= link_to 'Back', administrator_sections_path %>
