<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Classes</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li class="active">
        <strong>Student's Attandance</strong>
      </li>
    </ol>
  </div>
</div>
<%= render partial: 'shared/attendance_sheets/index', locals: {path: managing_students_administrator_attendance_sheets_path} %>
