<div class='row'>
  <div class='form-group'>
    <label class='col-md-2 control-label m-t-xs'>Heading</label>
    <div class='col-md-10'>
      <%= f.text_field :heading, as: :text, placeholder: 'Enter heading', class: 'form-control', required: true %>
    </div>
  </div>
</div>

<div class='row m-t-md'>
  <div class='form-group'>
    <label class='col-md-2 control-label m-t-xs'>Assigned At</label>
    <div class='col-md-10'>
      <%= f.text_field :assigned_at, as: :text, placeholder: 'Choose assigned at date', class: 'form-control datetimepicker', required: true, value: datetimepicker_default_value(f.object.assigned_at) %>
    </div>
  </div>
</div>

<div class='row m-t-md'>
  <div class='form-group'>
    <label class='col-md-2 control-label m-t-xs'>Submission Deadline</label>
    <div class='col-md-10'>
      <%= f.text_field :submission_deadline, as: :text, placeholder: 'Choose submission deadline date', class: 'form-control datetimepicker', required: true, value: datetimepicker_default_value(f.object.submission_deadline) %>
    </div>
  </div>
</div>

<div class='row m-t-md'>
  <label class='col-md-2 control-label m-t-xs'>Task</label>
  <div class='col-md-10'>
    <%= f.text_area :task, class: 'ckeditor' %>
  </div>
</div>
