<section id="features" class="container features <%= 'm-b-lg' if @institution.present? %>">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Revolutionary Educational System<br/> <span class="navy"> with many advanced features</span> </h1>
      <p>Modernize your Institution with infusion of technology</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 text-center fadeInLeft">
      <div>
        <i class="fa fa-check-square-o features-icon"></i>
        <h2>Attendance</h2>
        <p>Online Attendance sheet with daily notifications, Attendance sheet history can be viewed on daily, monthly and annual basis.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-clipboard features-icon"></i>
        <h2>Marks Sheet</h2>
        <p>Online results for students along with their previous exam history. Students and Guardians are notified on announcement of results.</p>
      </div>
    </div>
    <div class="col-md-6 text-center zoomIn">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center fadeInRight">
      <div>
        <i class="fa fa-address-book features-icon"></i>
        <h2>Online Diary</h2>
        <p>System empowers students to manage their School Diary online. It includes homework, tasks and assignments per subject.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-clock-o features-icon"></i>
        <h2>Time Table and Date sheet</h2>
        <p>Online access to class timetable and exam schedules along with timely notifications.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Advance Feature</h1>
      <p>We think this might be the coolest feature of our system</p>
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 features-text fadeInLeft">
      <small>Live</small>
      <h2>Notice Board</h2>
      <p>
        Institutions can make announcements for Teachers, Students, and Guardians via Notice Board.
      </p>
    </div>

    <div class="col-lg-6 text-right fadeInRight">
      <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
    </div>
  </div>
</section>
