<section id="features" class="container features <%= 'm-b-lg' if @institution.present? %>">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Revolutionary Educational System<br/> <span class="navy"> with many advanced features</span> </h1>
      <p>Revolutionize your school/college/academy system with automation</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 text-center fadeInLeft">
      <div>
        <i class="fa fa-check-square-o features-icon"></i>
        <h2>Attendance</h2>
        <p>Our System provides online attendance sheet which notifies on daily basis. Attendance sheet history can be viewed on daily, monthly and annual basis.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-clipboard features-icon"></i>
        <h2>Marks Sheet</h2>
        <p>Our system provides the updated mark sheet and It notifies whenever the sheet gets updated. Mark sheet history can be viewed on termly basis.</p>
      </div>
    </div>
    <div class="col-md-6 text-center zoomIn">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center fadeInRight">
      <div>
        <i class="fa fa-address-book features-icon"></i>
        <h2>Online Diary</h2>
        <p>In this section students get to keep their diaries updated with the latest homework, tasks and assignments given according to the subjects.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-clock-o features-icon"></i>
        <h2>Time Table and Date sheet</h2>
        <p>Our system provides the current time table with Class and venue information. It also updates the Exams and Test date sheets online.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Advance Feature</h1>
      <p>We think this might be the coolest feature of our system</p>
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 features-text fadeInLeft">
      <small>Live</small>
      <h2>Notice Board</h2>
      <p>
        Institute can upload notices for Teachers, Students and Guardians through our Notice board System. Every person associated with institute will be notified when board is updated.
      </p>
    </div>

    <div class="col-lg-6 text-right fadeInRight">
      <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
    </div>
  </div>
</section>
