<section id='services' class='container services m-t-lg'>
  <div class='row'>
    <div class='col-sm-3'>
      <h2>
        <%= link_to 'Login as Admin', '#', class: 'btn btn-success btn-lg' %>
      </h2>
      <p>Login as Admin and manage everything of your institute.</p>
    </div>

    <div class='col-sm-3'>
      <h2>
        <%= link_to 'Login as Teacher', '#', class: 'btn btn-danger btn-lg' %>
      </h2>
      <p>Login as Teacher and manage your sections.</p>
    </div>

    <div class='col-sm-3'>
      <h2>
        <%= link_to 'Login as Guardian', '#', class: 'btn btn-primary btn-lg' %>
      </h2>
      <p>Login as Guardian and view all the statistics of your child(ren).</p>
    </div>

    <div class='col-sm-3'>
      <h2>
        <%= link_to 'Login as Student', '#', class: 'btn btn-info btn-lg' %>
      </h2>
      <p>Login as Student and view all your statistics and online homework/assignments.</p>
    </div>
  </div>
</section>
