<section id='workflow' class="timeline gray-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Our Workflow</h1>
        <p>We put our best efforts to make you achieve excellence with revamped and efficient workflow.</p>
      </div>
    </div>

    <div class="row features-block">
      <div class="col-lg-12">
        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-handshake-o"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Meeting</h2>
              <p>
                We visit your institute, discuss the working of the system with the officials.
              </p>
              <a href="#contact" class="btn btn-xs btn-primary scroll-to-div">Contact Us</a>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-lightbulb-o"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Plan</h2>
              <p>
                We work on your requirements along with the suggestions to provide you the best suited plan.
              </p>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-connectdevelop"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Design & Development</h2>
              <p>
                We have designed and developed the system according to modern educational requirements and we make it more usable by your feedback.
              </p>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-eraser"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Testing</h2>
              <p>
                We test the system against real time data and scenarios to make your experience smooth and steady.
              </p>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-rocket"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Launch</h2>
              <p>
                System is launched with the proper training manuals to make you familiar with its features.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
