<div class=" animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <%= form_tag new_administrator_exam_path(), method: :get, remote: true do %>
            <div class="row selectable_parent">
              <div class="col-md-3">
                <div class="form-group">
                  <label style="margin-bottom: 5px;">Class</label>
                  <div class="input-group">
                    <%= select_tag :klass_id, options_for_select(@klasses.collect {|e| [ e.name, e.id ] }), prompt: "Select Class", class: "select2_dropdown selectable_exam_klass", required: true %>
                  </div>
                </div>
              </div>

              <div id="subject_holder">
                <div class="col-md-3">
                  <div class="form-group">
                    <label style="margin-bottom: 5px;">Section</label>
                    <div class="input-group">
                      <%= select_tag :section_id, options_for_select([]), prompt: "Select Section", class: "select2_dropdown selectable_exam_section", disabled:false, required: true, data: {selected: params[:section_id]} %>
                    </div>
                  </div>
                </div>

                <div class="col-md-2" style="margin-top: 20px;">
                  <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </center>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="exams"></div>
