<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Exams</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'Exams List', administrator_exams_path %>
      </li>
      <li class="active">
        <strong>Edit Exa</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Edit exam <strong><%= @exam.name %></strong><small> Please fill the details correctly</small></h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', exam: @exam %>
        </div>
      </div>
    </div>
  </div>
</div>


