<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div id='left-section' class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Students</h2>
          <p>
            Search results
          </p>
          <%= render partial: 'shared/student/index' %>
        </div>
      </div>
    </div>
  </div>
</div>
