<%= link_to results_administrator_student_path(student), class: "btn btn-outline btn-primary btn-xs", title: 'Results', data: { target: "#results-#{student.id}", toggle: 'modal' } do %>
  <i class='fa fa-bar-chart'></i> <%= text %>
<% end %>

<div id='results-<%= student.id %>' class='modal fade' role='dialog'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class="spinner-container">
        <div class="sk-spinner sk-spinner-cube-grid">
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          <div class="sk-cube"></div>
          Loading...
        </div>
      </div>
    </div>
  </div>
</div>
