<div id="tabulation_sheet" class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='ibox float-e-margins'>
        <div class='ibox-title'>
          <h5>Tabulation Sheet</h5>
        </div>

        <div class='clearfix'></div>

        <div class='ibox-content'>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align: center;">
                  Students <i class="fa fa-arrow-down"></i> | Subjects <i class="fa fa-arrow-right"></i>
                </th>
                <% @subjects.each do |subject| %>
                  <th style="text-align: center;"><%= subject.name %></th>
                <% end %>
                <th style="text-align: center;">Total Marks</th>
              </tr>
            </thead>
            <tbody>
              <% @exam_marks.each do |student_id, exam_marks| %>
                <tr>
                  <td style="text-align: center;"><%= @exam_marks[student_id].first.student.name %></td>
                  <% @subjects.each do |subject| %>
                    <td style="text-align: center;"><%= disply_obtained_marks(exam_marks.group_by(&:subject_id)[subject.id].try(:first).try(:obtained), exam_marks.group_by(&:subject_id)[subject.id].try(:first).try(:total)) %></td>
                  <% end %>
                  <td style="text-align: center;"><%= exam_marks.collect{|x| x.obtained}.sum %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
