<h2>Someone is trying to contact us.</h2>
<h4>All the details are as follows</h4>

<p>Email: <%= @information[:email] %></p>
<p>Contact Number: <%= @information[:contact_number] %></p>
<p>Message: <%= @information[:message] %></p>
