<h2>Someone is trying to contact us.</h2>
<h4>All the details are as follows</h4>

<p><strong>Email:</strong> <%= @information[:email] %></p>
<p><strong>Contact Number:</strong> <%= @information[:contact_number] %></p>
<p><strong>Message:</strong> <%= @information[:message] %></p>
