<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Notice update</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Notices", administrator_notices_path %>
      </li>
      <li class="active">
        <strong>New Notice Form</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Update Notice <%= @notice.title %> <small> Please fill the details correctly</small></h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', notice: @notice %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  Notice.init();
<% end %>
