<div class="full-height-scroll">
  <div class="table-responsive">
    <table class="table table-striped table-hover selectable-table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody data-role="activerecord_sortable">
        <%= render @grading_systems %>
      </tbody>
    </table>
  </div>
</div>
