.btn-bs-file{
  position:relative;
  width: 100%;

  input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
  }
}

#create-note-form {
  .input-group {
    width: 100%;

    #heading {
      width: 23%;
    }

    #description {
      width: 39.4%;
    }

    #color {
      width: 5%;
    }
  }
}

.tab-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

.notes {
  li {
    word-wrap: break-word;

    > div {
      overflow: scroll;

      > a {
        z-index: 10;
      }
    }
  }
}

.color-field {
  padding: 3px 5px;
}

#toast-container > .toast {
  background-image: none !important;
}

.toast {
  background-color: #1ab394;
}

.toast-success {
  background-color: #1ab394;
}

.toast-error {
  background-color: #ed5565;
}

.toast-info {
  background-color: #23c6c8;
}

.toast-warning {
  background-color: #f8ac59;
}

.tab-content {
  h2, h3, h4, h5 {
    font-weight: normal;
  }

  .bg-info {
    background: #23c6c8;
  }

  .color-white {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

#class-wrapper, #section-wrapper {
  .label {
    font-size: 100%;
  }
}

#guardian-wrapper, #student-wrapper {
  h2, h3, h4, h5 {
    font-weight: normal;
  }
}

.attendance-list th.attendance-label {
  padding-left: 7%;
}
