.btn-bs-file{
  position:relative;
  width: 100%;

  input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
  }
}

#create-note-form {
  .input-group {
    width: 100%;

    #heading {
      width: 23%;
    }

    #description {
      width: 39.4%;
    }

    #color {
      width: 5%;
    }
  }
}

.tab-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}
