$primary: #1ab394;
$success: #1c84c6;
$info: #23c6c8;
$danger: #ed5565;
$warning: #f8ac59;

$navy: #1ab394;
$dark-gray: #c2c2c2;
$blue: #1c84c6;
$lazur: #23c6c8;
$yellow: #f8ac59;
$red: #ed5565;

textarea {
  resize: none;
}

.btn-bs-file {
  position:relative;
  width: 100%;

  input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
  }
}

#create-note-form {
  .input-group {
    width: 100%;

    #note_heading {
      width: 23% !important;
    }

    #note_description {
      width: 52% !important;
    }

    #note_color {
      width: 5% !important;
    }
  }
}

.update-note-form {
  .input-group {
    width: 100%;

    #note_heading {
      width: 23% !important;
    }

    #note_description {
      width: 70% !important;
    }

    #note_color {
      width: 7% !important;
    }
  }
}

.tab-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

.notes {
  li {
    word-wrap: break-word;

    > div {
      overflow: scroll;

      > a {
        z-index: 10;
      }
    }
  }
}

.color-field {
  padding: 3px 5px;
}

#toast-container > .toast {
  background-image: none !important;
}

.toast {
  background-color: #1ab394;
}

.toast-success {
  background-color: #1ab394;
}

.toast-error {
  background-color: #ed5565;
}

.toast-info {
  background-color: #23c6c8;
}

.toast-warning {
  background-color: #f8ac59;
}

.tab-content {
  h2, h3, h4, h5 {
    font-weight: normal;
  }

  .bg-info {
    background: #23c6c8;
  }

  .color-white {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

#class-wrapper, #section-wrapper, #attendance-wrapper {
  .label {
    font-size: 100%;
  }
}

#guardian-wrapper, #student-wrapper {
  h2, h3, h4, h5 {
    font-weight: normal;
  }
}

.attendance-list th.attendance-label {
  span {
    margin-left: 25px;
  }
 }

.width-100-p {
  width: 100%;
}

.mini-input {
  width: 50%;
}

.table-helighted-row {
  background-color: rgba(35, 198, 200, 0.2) !important;
  border-left: 5px solid #23c6c8;
}

.select2-close-mask{
  z-index: 2099;
}
.select2-dropdown{
  z-index: 3051;
}

.term-box {
  border: 1px solid lightgray;
}

.b-r-xl {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

.nav-term {
  padding: 5%;
  color: white;
}

#contact-modal {
  .modal-footer {
    text-align: center;
  }
}

.navy-line {
  width: 60px;
  height: 1px;
  margin: 20px auto 0;
  border-bottom: 2px solid #23c6c8;
}

.social-icon {
  a {
    background: #23c6c8;
    color: #fff;
    padding: 4px 8px;
    height: 28px;
    width: 28px;
    display: block;
    border-radius: 50px;
  }
}

.landing-page .navbar-default .navbar-brand {
  background: none;
}

.landing-page .navbar-default .navbar-brand:hover, .landing-page .navbar-default .navbar-brand:focus {
  background: none;
  border: 1px solid #23c6c8;
}

#premium {
  .no-bottom-border {
    border-bottom: none;
  }

  li.coming-soon {
    font-size: 35px;
    color: #ed5565;
    margin: 73px 0;
    border-top: none;
  }
}

.form-inline {
  input {
    width: 100% !important;
  }

  select {
    width: 100% !important;
  }
}

#attendance-wrapper {
  td {
    vertical-align: middle;
  }

  .ibox-title {
    h5 {
      line-height: 20px;
    }
  }
}

#previous-image {
  width: 100%;
}

.iradio_square-green {
  width: 24px;
}

#comments-carousel, #testimonials-carousel {
  height: auto;

  .item {
    background-color: transparent;
    height: auto;
    margin-top: 40px;
  }

  .prev, .next {
    margin-top: 0;
  }

  .carousel-control {
    color: $primary;
    top: 30%;
  }
}

#testimonials-carousel {
  .carousel-control {
    color: #fff;
  }
}

.landing-page .social-icon a {
  padding: 6px 8px;
}

.spinner-container {
  height: 200px;
  padding-top: 70px;
}

.text-red {
  color: #ed5565;
  margin-left: 5px;
  margin-right: 5px;
}

.text-blue {
  color: #1c84c6;
  margin-left: 5px;
  margin-right: 5px;
}

.text-bold {
  font-weight: bold;
}

.margin-top-20 {
  margin-top: 20px;
}

.attendance-event {
  margin: 35px;
}

.fc-center {
  h2 {
    font-weight: bold;
    margin-bottom: 10px !important;
  }
}

.fc-other-month {
  background-color: #F6F6F6;
}

td.attendance-radio {
  span:nth-child(2) {
    padding-left: 20px;
  }

  span:nth-child(3) {
    padding-left: 35px;
  }

  span:nth-child(4) {
    padding-left: 30px;
  }
}

.select-children {
  cursor: pointer;
}

.clients-list {
  overflow: auto;
}

.folder-list li a:hover {
  background-color: #e6e6e6;
  color: #676a6c;
}

.folder-list li i {
  color: #676a6c !important;
}

.folder-list li a {
  color: #A7B1C2;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
}

.folder-list li.active a {
  background-color: #e6e6e6;
  color: $primary;
}

.folder-list li.active i {
  color: #1ab394 !important;
}

.sections-container .file .btn-group,
.sections-container .file .btn-group-vertical {
  position: absolute;
}

.sections-container .file {
  margin-bottom: 20px;
  margin-right: 20px;
}

.m-t-xs-20 {
  margin-top: 20px;
}

.navy-border {
  border: 1px solid $navy;
  color: $navy;
}

.lazur-border {
  border: 1px solid $lazur;
  color: $lazur;
}

.yellow-border {
  border: 1px solid $yellow;
  color: $yellow;
}

.btn-link {
  color: $navy;
}

#term-details {
  th, td {
    text-align: center;
  }
}

.text-primary {
  color: $primary;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-danger {
  color: $danger;
}

.text-warning {
  color: $warning;
}

.ibox-head-link {
  font-size: 120%;
  font-weight: 900;
  line-height: 15px;
}

#section-subject-fields {
  i.btn-danger {
    padding: 10px 15px;
  }
}

.color-white {
  color: white;

  &:hover, &:focus {
    color: white;
  }
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: $primary;
}

.select2-container--bootstrap .select2-dropdown {
  border-color: $primary;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26,179,148, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26,179,148, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  border-color: $primary;
}

.results-icon i{
  font-size: 26px;
  color: $danger;
}

.custom_timetable-widget {
  border-radius: 5px;
  padding: 5px 5px;
}

.vertical-middle {
  vertical-align: middle !important;
}

.timetabe-day-cell {
  height: 100px;
  width:100px;
}

.no-bg {
  background: none !important;
}
