#left-section {
  .ibox {
    margin-bottom: 0
  }

  .clients-list {
    overflow: visible;
    height: 635px;
    overflow: auto;
    margin-bottom: 25px;

    .tab-pane {
      height: inherit;
    }
  }
}

.client-detail {
  height: inherit;
}

button[data-dismiss='modal'] > span[aria-hidden='true'] {
  position: absolute;
  right: 20px;
}

hr.b-heading {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 25%;
}

.dashboard-style {
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-weight: 300;
  height: 114px;
  line-height: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;

  i {
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
  }

  &:hover {
    opacity: 0.8;

    i {
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      font-size: 140px;
      opacity: 0.2;
    }
  }
}

.text-default {
  color: #676a6c !important;
}

#period-options {
  position: absolute;
  z-index: 1000;
}

.form-control {
  border-radius: 5px;
}

.breadcrumb > li + li:before {
  content: '> ';
}

$primary: #1ab394;
$success: #1c84c6;
$info: #23c6c8;
$danger: #ed5565;
$warning: #f8ac59;

.attendance-table {
  td {
    font-weight: bold;
  }

  td.absent {
    background-color: $danger;
  }

  td.leave {
    background-color: $warning;
  }

  span.present {
    color: $primary;
  }

  span.absent {
    color: #fff;
  }

  span.leave {
    color: #fff;
  }

  td.late_coming span{
    color: $success;
  }
}
