<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-10'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Timetable
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', root_path %>
      </li>

      <li class='active'>
        <strong>List</strong>
      </li>
    </ol>
  </div>
</div>

<div class='wrapper wrapper-content  animated fadeInRight'>
  <div class='row'>
    <div id='left-section' class='col-sm-12'>
      <div class='ibox'>
        <div class='ibox-content'>
          <div id='timetable-calendar'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  Timetable.init();
<% end %>
