<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-lg-12'>
      <h1>
        Editing Guardian
        <%= link_to 'Profile', [:administrator, @guardian], class: 'btn btn-info' %>
        <%= link_to 'Back', administrator_guardians_path, class: 'btn btn-warning' %>
      </h1>

      <%= render 'form', guardian: @guardian %>
    </div>
  </div>
</div>
