<div class='theme-config'>
  <div class='theme-config-box'>
    <div class='spin-icon'>
      <%= link_to configuration_path, class: 'color-white' do %>
        <i class='fa fa-cogs fa-spin'></i>
      <% end %>
    </div>

    <div class='skin-setttings'>
      <div class='title'>Configuration</div>
    </div>
  </div>
</div>
