<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div style='text-align: center;'>
      <h1>Revocation</h1>
    </div>

    <hr style='width: 50%; border: 2px solid #1ab394'>
    <br>

    <div style='margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px;'>
      <div style='text-align: center;'>
        <%= yield %>
      </div>
    </div>

    <br>
    <hr style='width: 50%; border: 2px solid #1ab394'>

    <div style='text-align: center;'>
      <strong>Copyright</strong> Revocation &copy; 2017
    </div>

  </body>
</html>
