<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag 'pdf' %>
</head>
<body class="container white-bg">
  <%= yield %>
</body>
</html>
